/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
*{
	margin:0;
	padding: 0;
}
body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
	padding:0;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	margin-top: 0;
}

.title {
	font-size: 5em;
	padding-bottom: 12px;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid rgb(152,173,166);
	margin-bottom: 5px;
	padding-top: 0;
	margin-top: 0;
	color:rgb(152,173,166);
	font-weight: normal;
}

#headerImg {
	box-sizing: border-box;
	width:100%;
	border:5px solid rgb(152,173,166);
	margin-bottom: 10px;
}

.subTitle {
	margin: 10px 0;
	color:rgb(111,127,122);
}


.para {
	padding-bottom: 20px;
	color:#555;
}
#paraLink {
	text-decoration: none;
	color:#1783bb;
}
#paraLink:hover{
	text-decoration: underline;
}
.logoLink {
	border: 5px solid #ccc;
}
.logoLink:hover{
	border: 5px solid rgb(143, 158, 153);
}
#copyRight {
	text-align: right;
	margin:15px 0 5px;
	font-size: smaller;
	color:#555;
}



/* Write all remaining styles here */